@model Room

<div class="row container">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-header">Copy the room id to share!</div>
            <div class="card-body bg-light">
                @Model.RoomId
            </div>
        </div>
    </div>
</div>